// CONFIGS
@import './configs/reset.scss';
@import './configs/variables.scss';
@import './configs/fonts.scss';
@import './configs/icon.scss';
@import './configs/typography.scss';
@import './configs/global.scss';

// COMPONENTS
@import './components/page.scss';
@import './components/header.scss';
@import './components/navigation.scss';

