<div class="navigation section">
	<div class="navigation__inner section__inner">
		<a href="/gallery" class="navigation__icon icon icon--big icon--dial"></a>	
		<a href="/upload" class="navigation__icon icon icon--big icon--plus-circle"></a>	
	</div>
</div>