<div class="gallery section">
    <div class="gallery__inner section__inner">
        {{#each data.items }}
                <img class="gallery__item" src="https://hello-world.fra1.digitaloceanspaces.com/{{this.Key}}">
        {{/each}}
    </div>
</div>