<div class="upload section">
	<div class="upload__inner section__inner">

	<form class="upload__form" method="post" enctype="multipart/form-data" action="/image/multiple-upload">
		<label for="file">Upload multiple files</label>
		<input type="file" name="upload" multiple="true">
		<input type="submit" class="button">
	</form>

	</div>
</div>